:root {
    --font-color:        #444;
    --link-color:        #000;
    --blue-color:        rgb(105, 255, 237);
    --main-background:   rgb(255, 255, 255);
    --header-background: rgb(255, 255, 255);
    --font-size:         16px;
    --content-min-width: 250px;
    --social-width:      500px;
    --content-width:     750px;
    --background-height: 450px;
}

