@import 'float.css';

html {
    color:       VARIABLE[--font-color];
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

body {
    margin:     0px;
    background: VARIABLE[--main-background];
    font-size:  VARIABLE[--font-size];
}

.header {
    top: 0px;
}

/* Set style for 'bottom title' */
#bottom-title .custom {
    background-color: VARIABLE[--blue-color];
    text-align:       center;
    background-attachment: fixed;
    background-repeat:     no-repeat;
    padding-top:    50px;
    padding-bottom: 10px;
}

#bottom-title .custom .company_info {
    text-align: left;
    padding-left: 30px;
}

/* Set a background image for the title */
#title {
    /* The image used */
    background-image: url("../images/img_parallax.png");

    height: VARIABLE[--background-height];

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:   center 25px;
    background-size:       VARIABLE[--content-width];
    background-repeat:     no-repeat;

    width:         100%;
    text-align:    center;
    padding-top:   50px;
}

@media screen and (max-width: VARIABLE[--content-width]) {
    #title {
        background-size: 100%;
    }
}

#title h1 {
    margin: 0;
    color:  white;
}

#header-bar {
    margin-top:    20px;
    margin-bottom: 20px;
}

#footer-bar {
    margin-bottom: 20px;
}

/* header bar and footer bar */
#header-bar ul, #footer-bar ul {
    margin:         0px auto;
    z-index:        100;
    background:     VARIABLE[--header-background];
    border-bottom:  1px solid VARIABLE[--blue-color];
    min-width:      VARIABLE[--content-min-width];
    width:          VARIABLE[--content-width];
    /* Including padding, these uls should never be wider than surrounding div,
     * otherwise they will cause scrolling on small screens. */
    max-width:      90%;
    padding-left:   5px;
    padding-right:  5px;
    text-align:     center;
    padding-top:    10px;
    padding-bottom: 13px;
}

/* Take a list in the header (hopefully a menu module) and expand it out */
#header-bar ul li, #footer-bar ul li {
    display:       inline;
    padding-left:  2%;
    padding-right: 2%;
}

#header-bar a, #footer-bar a {
    padding-bottom:  2px;
    padding-left:    0.5%;
    padding-right:   0.5%;
    padding-top:     5px;

    transition:      0.1s linear;
}

#header-bar a:hover, #footer-bar a:hover {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: VARIABLE[--blue-color];
    text-decoration:     none;
}

#header-bar [class*="current"] a {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: VARIABLE[--blue-color];
}

#header-bar [class*="default"] {
    display: none;
}

.content {
    width:         VARIABLE[--content-width];
    overflow:      auto;
    background:    VARIABLE[--main-background];
    min-width:     VARIABLE[--content-min-width];
    /* Limit width so that it never causes a screen scroll.
     * It's 90% to prevent overflow and subsequent scroll due to padding */
    max-width:     95%;
    margin:        20px auto;
    margin-bottom: 30px;
    padding-left:  5px;
    padding-right: 5px;
}

.content .blog-featured {
    width:         VARIABLE[--social-width];
    overflow:      auto;
    background:    VARIABLE[--main-background];
    min-width:     VARIABLE[--content-min-width];
    max-width:     95%;
    margin:        20px auto;
    margin-bottom: 30px;
    padding-left:  5px;
    padding-right: 5px;
}

.fb-post span {
    max-width: 100%;
}

.sidebar {
    position:    absolute;
    top:         VARIABLE[--background-height];
    padding-top: 50px;
    left:        30px;
    width:       300px;
    color:       #9b9b9b;
    font-weight: bold;
}
.sidebar blockquote {
    padding-top: 100px;
}
.sidebar blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.sidebar blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.55em;
}
@media screen and (max-width: 1460px) {
    .sidebar {
        display: none;
    }
}

/* Don't display title on homepage */
.content .blog-featured .page-header {
    display: none;
}

a {
    color:           VARIABLE[--link-color];
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.pagination, .items-more {
    display: none;
}

.pager {
    padding: 0px;
    text-align: center;
}

.pager li {
    display: inline;
}

.pager li>a {
    display: inline-block;
    padding: 3px 5px;
    border:  1px solid VARIABLE[--blue-color];
}
.pager li>a:hover {
    text-decoration:  none;
    background-color: VARIABLE[--blue-color];
    color:            VARIABLE[--main-background];
}

/* Control display of article titles */
.page-header {
    text-align: center;
}

/* This will control article titles on the homepage */
/*
.content h2.item-title {
    overflow: hidden;
    text-align: center;
    font-size: VARIABLE[--font-size];
}
.content h2.item-title:before, h2.item-title:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.content h2.item-title:before {
    right: 0.5em;
    margin-left: -50%;
}
.content h2.item-title:after {
    left: 0.5em;
    margin-right: -50%;
}
*/
.content h2 {
    display: none;
}
.content .item {
    padding-top:    15px;
    padding-bottom: 15px;
}

/* Don't display details about article (author, date, etc.) */
.content .icons,[class*=article-info] {
    display: none;
}

/* Ensure iframe doesn't make surrounding div bigger if the screen is too small
 */
iframe {
    max-width: 100%;
}

/* Don't display templates form, we're using this as a blank page */
#templates-form {
    display: none;
}

/* Style login data */
.form-inline {

}

/* If unauthorised, display it a little more nicely without bothering with
 * proper styling */
div.alert {
    visibility: hidden;
}
div.alert:before {
    position:   absolute;
    left:       45%;
    visibility: visible;
    content:    "Unauthorised";
    margin:     0, auto;
}

/* Tidy up the add post page without actually styling anything. What a marvel
 * of laziness I am! Meh, it's not facing normal site viewers. */
div.btn-group {
    display: inline;
}

fieldset {
    border: 0;
}

ul.nav-tabs {
    display: none;
}
ul.nav-stacked {
    display: inline;
}

div#language, div#metadata {
    display: none;
}

/* Keep this */
div#publishing>div.control-group>div.controls>div#jform_featured_chzn {
    visibility: visible;
    top:        -230px;
}
/* Hide this */
div#publishing {
    visibility: hidden;
}
/* But replace with this */
div#publishing:before {
    left:       0%;
    visibility: visible;
    content:    "Select 'yes' in the box below to feature this post on the front page";
    margin:     auto;
}

div#editor div#editor-xtd-buttons {
    visibility: hidden;
}

/* Do not load wrapper iframes */
iframe.wrapper {
    display: none;
}

.ias-noneleft, .ias-spinner {
    margin-top: 30px;
}

.document-link {
    color: VARIABLE[--blue-color];
}
